:root {
    --logo: rgba(65, 188, 96, 1);
    --background: rgba(244, 240, 255, 1);
    --header: rgba(9, 7, 14, 1);
    --main-text: rgba(4, 0, 16, 1);
    --secondary-text: rgba(171, 168, 178, 1);
    --alert: rgba(229, 79, 79, 1);
    --block: rgba(255, 255, 255, 1);
    --redbg: rgba(252, 226, 226, 1);
    --redcontent: rgba(252, 138, 138, 1);
    --yellowbg: rgba(252, 252, 226, 1);
    --yellowcontent: rgba(218, 218, 130, 1);
    --greenbg: rgba(226, 252, 226, 1);
    --greencontent: rgba(119, 217, 119, 1);
    --light-bluebg: rgba(226, 252, 252, 1);
    --light-bluecontent: rgba(126, 231, 231, 1);
    --bluebg: rgba(226, 226, 252, 1);
    --bluecontent: rgba(138, 138, 252, 1);
    --magentabg: rgba(252, 226, 252, 1);
    --magentacontent: rgba(252, 138, 252, 1);
}
