@using System.Security.Cryptography
@{
    ViewData["Title"] = "О нашей компании";
}
<link href="~/css/carousel.css" rel="stylesheet">
<main>

    <img src="https://media.discordapp.net/attachments/1172945807528448033/1187201307862368326/7c15324512946a51.jpg?ex=65960660&is=65839160&hm=6870f1b470c0575f69b4a99d1b7eeb743bc45317fbf19a63493fe7263d0c0f6d&=&format=webp&width=1920&height=795" class="d-block w-100 b-img">

    <div class="container marketing">
        <hr class="featurette-divider">
        <div class="row featurette">           
            <h2               
                class="main-text">Workers.
                <span class="text-muted">Inc.</span>
            </h2>                    
        </div>
       <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Кто мы такие?</h2>
                <p class="lead">Мы команда студентов ЯрГУ, кто решил написать сайт для размещения резюме студентами и поиска резюме компаниями-партнёрами ЯрГУ.
                    Это простой и функциональный сайт для студентов нашего университета, которые хотят заявить о себе и попасть на стажировку или полноценную работу
                    в ведущие российские IT-компании. 
                </p>
            </div>
            <div class="col-md-5">
                <img src="https://news.itmo.ru/images/news/big/p9434.jpg" class="d-block w-100 a-img">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Что мы можем предложить студентам?</h2>
                <p class="lead">Компании-партнёры ЯрГУ активно ищут студентов, готовых перейти на новый уровень обучения.
                    Чтобы вас заметили ведущие компании можно постоянно откликаться на вакансии, ходить на собеседования, где вам могут и отказать. 
                    На нашем сайте достаточно один раз оформить резюме. Далее нужно приготовиться к лавине звонков потенциальных работодателей.
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://arch.rgdb.ru/xmlui/bitstream/handle/123456789/54247/Image00003.jpg?sequence=1&isAllowed=y" class="d-block w-100 a-img">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">А что работодатели?</h2>
                <p class="lead">А работодатели никуда не денутся, всё равно нигде не смогут найти таких способных учеников. </p>
            </div>
            <div class="col-md-5">
                <img src="https://api.synergytimes.ru/upload/medialibrary/a62/f9g0yvf396u14c1uoshm0zqycmbmq79k.jpg" class="d-block w-100 a-img">

            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->
    <!-- FOOTER -->
    <footer class="container">
        <p class="float-end"><a href="#">В начало</a></p>
        <p>&copy; 2023 Workers, Inc.</p>
    </footer>
</main>

