@using System.Security.Cryptography
@{
    ViewData["Title"] = "Главная";
}

<link href="~/css/carousel.css" rel="stylesheet">

<!-- TODO Перенести эту логику в отдельный _Partial -->
@if (TempData["message"] != null)
{
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  <script type="text/javascript">
    toastr.options.positionClass = "toast-bottom-right";
    toastr["success"]('@TempData["message"]');
  </script>
}
<!-- END -->

<main>
  <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
  
      <div class="carousel-inner">
        <div class="carousel-item active c-item">
          <img src="//images.unsplash.com/photo-1579033461380-adb47c3eb938?fit=crop&w=1964&q=100" class="d-block w-100 c-img" alt="Slide 1">
          <div class="carousel-caption top-0 mt-4">
            <p class="mt-5 fs-3 text-uppercase">Заявите о себе</p>
            <h1 class="display-1 fw-bolder text-capitalize">Резюме само себя не напишет</h1>
            <button class="btn btn-primary px-4 py-2 fs-5 mt-5">О нас</button>
          </div>
        </div>
        <div class="carousel-item c-item">
          <img src="https://images.unsplash.com/photo-1516466723877-e4ec1d736c8a?fit=crop&w=2134&q=100" class="d-block w-100 c-img" alt="Slide 2">
          <div class="carousel-caption top-0 mt-4">
            <p class="text-uppercase fs-3 mt-5">Стремитесь к большему</p>
            <p class="display-1 fw-bolder text-capitalize">Найдите свой путь</p>
            <button class="btn btn-primary px-4 py-2 fs-5 mt-5" data-bs-toggle="modal"
                            data-bs-target="#booking-modal">
                        О нас
                    </button>
          </div>
        </div>
        <div class="carousel-item c-item">
          <img src="https://images.unsplash.com/photo-1612686635542-2244ed9f8ddc?fit=crop&w=2070&q=100" class="d-block w-100 c-img" alt="Slide 3">
          <div class="carousel-caption top-0 mt-4">
            <p class="text-uppercase fs-3 mt-5">Время не вечно</p>
            <p class="display-1 fw-bolder text-capitalize">Живите ярче</p>
            <button class="btn btn-primary px-4 py-2 fs-5 mt-5" data-bs-toggle="modal"
              data-bs-target="#booking-modal">О нас</button>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
                <h2 class="featurette-heading">Начните свой карьерный путь.<span class="text-muted"></span></h2>
        <p class="lead">
            Заявите о себе. Более 20 компаний партнёров ЯрГУ постоянно ищут новых подрастающих специалистов.           
            </p>
      </div>
      <div class="col-md-5">
                <img src="https://www.unicraft.org/wp-content/uploads/2022/02/cover-1.jpg" class="d-block w-100 a-img">
                
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Помните, ради чего вы стараетесь<span class="text-muted"></span></h2>
        <p class="lead">Помните!</p>
      </div>
      <div class="col-md-5 order-md-1">
                <img src="https://www.anna-key.ru/upload/medialibrary/9ba/9ba1a710627e16152edaf1b1557570dc.jpg" class="d-block w-100 a-img">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Не упустите свои возможности.<span class="text-muted"></span></h2>
                <p class="lead">Пока другие студенты годами ждут оффера от работодателей наши студенты получают их в первый час после размещения резюме.</p>
      </div>
      <div class="col-md-5">
                <img src="https://s5.afisha.ru/upload/2102746/OFRfj_ziyvsGSume2qk2iZ6yepJGV4sX8heIoF0LX4g.jpg" class="d-block w-100 a-img">

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">В начало</a></p>
    <p>&copy; 2023 Workers, Inc.</p>
  </footer>
</main>

