<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport2" content="width=device-width, initial-scale=1.0" />
    @*Заголовок страницы*@
    <title>@ViewData["Title"]</title>
    @*Иконка страницы*@
    <link rel="icon" href="/favicon.ico" />
    @*Подключение стилей*@
    <link rel="stylesheet" href="/lib/bootstrap5.3.0/content/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
</head>

<body>

<div class="container d-flex justify-content-center align-items-center" style="height: 90vh; overflow: hidden;">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-12 my-0 mx-auto">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/lib/bootstrap5.3.0/scripts/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>