:root {
    --logo: rgba(65, 188, 96, 1);
    --background: rgba(244, 240, 255, 1);
    --header: rgba(9, 7, 14, 1);
    --main-text: rgba(4, 0, 16, 1);
    --secondary-text: rgba(171, 168, 178, 1);
    --alert: rgba(229, 79, 79, 1);
    --redbg: rgba(252, 226, 226, 1);
    --redcontent: rgba(252, 138, 138, 1);
    --yellowbg: rgba(252, 252, 226, 1);
    --yellowcontent: rgba(218, 218, 130, 1);
    --greenbg: rgba(226, 252, 226, 1);
    --greencontent: rgba(119, 217, 119, 1);
    --light-bluebg: rgba(226, 252, 252, 1);
    --light-bluecontent: rgba(126, 231, 231, 1);
    --bluebg: rgba(226, 226, 252, 1);
    --bluecontent: rgba(138, 138, 252, 1);
    --magentabg: rgba(252, 226, 252, 1);
    --magentacontent: rgba(252, 138, 252, 1);
}

header {
    font-family: 'JetBrains Mono', monospace;
}

body {
    overflow-x: hidden;
    background-color: var(--background);
}

/*для отступа от Workers*/
.custom-me-10 {
  margin-right: 10rem;
}

/*для отступа у авторизации*/
.custom-mt-10 {
  margin-top: 10rem;
}

/*для авторизации*/
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*tab navigation*/
.login-logout-card .card-header {
  padding: 0px 0px 12px 0px;
}

.login-logout-card ul.nav-tabs {
  margin: 0px 0px -12px 0px;
}

.login-logout-card li.nav-item {
  width: 50%;
}

.login-logout-card a.nav-link {
  font-size: 1rem;
  color: #495057;
  text-align: center;
  padding: 1rem;
}

.login-logout-card .card-body {
  padding: 10px 20px;
}

