@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ваш пароль был изменён. <a asp-page="./Login">Войдите в аккаунт</a>.
</p>
