@using Microsoft.AspNetCore.Identity
@using Workers.Domain.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown col-6 col-lg-auto">
        <a class="btn btn-warning d-inline mx-4" id="login" style="font-size: 20px; padding: 6px 35px" asp-controller="Resume" asp-action="Create">
            Резюме
        </a>
        @if (UserManager.GetUserAsync(User).Result?.ProfilePicture != null)
        {
            <a class="nav-link rounded-circle d-inline" width="40" height="40" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white">
                <img style="width:40px;height:40px; object-fit:cover; border-radius:30px" src="data:image/*;base64,@(Convert.ToBase64String(UserManager.GetUserAsync(User).Result.ProfilePicture))">
            </a>
        }
        else
        {
            <a class="nav-link rounded-circle d-inline" width="40" height="40" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white">
                <img src="/content/not_authorized.svg" class="rounded-circle" width="40" height="40"/>
            </a>
        }
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Мои данные</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" style="color: red">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link">Выход</button>
                </form>
            </a>
        </div>
    </li>
}
else
{
    <li class="nav-item dropdown col-6 col-lg-auto">
        <a class="nav-link rounded-circle" width="40" height="40" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white">
            <img src="/content/not_authorized.svg" class="rounded-circle" width="40" height="40"/>
        </a>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <a class="dropdown-item" id="login" asp-area="Identity" asp-page="/Account/Login">Войти</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" id="register" asp-area="Identity" asp-page="/Account/Register">Зарегистрироваться</a>
        </div>
    </li>
}

